
.friends-wrapper {
    display: flex;
    flex-direction: column;

    .friends-loading {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .friends-content {
        display: flex;
        justify-content: center;
        align-items: center;

        .friends-list {
            display: flex;
            flex-direction: column;
            height: 50vh;
            overflow-y: scroll;
            flex-grow: 1;
            width: 100%;

            .friend-item {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 90%;
                flex-grow: 1;
                padding: 10px;
                margin: 5px;
                border-radius: 7px;

                .friend-avatar {
                    float: left;
                    flex-grow: 1;

                    img {
                        border-radius: 50%;
                    }
                }

                .friend-name {
                    flex-grow: 1;
                    text-align: center;
                    font-weight: bold;
                    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
                }
            }

            .friend-message {
                white-space: pre-wrap;
                text-align: center;
                justify-content: center;
                align-items: center;
                padding-right: 50px;
                flex-grow: 1;
                width: 100%;
            }

            .friends-button {
                text-align: center;
                padding: 50px;
                justify-content: center;
                align-items: center;
                flex-grow: 1;
                width: 33%;
                margin-top: 20px;
            }

            .friend-item-active {
                border-color: green;
            }

            .friend-item-away {
                border-color: yellow;
            }

            .friend-item-offline {
                border-color: red;
            }
        }
    }
}
        
        
.friendItem{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.friendItem:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 1);
}