.intro-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 4px;

    .intro-spacer {
        display: flex;
        flex-direction: row;
        justify-content: center; 
        align-items: center;
        gap: 24px;
    }

    .intro-text {
        p {
            text-align: center;
            font-weight: 200;
        }
    }

    .intro-input, .intro-form-control, .intro-input-wrapper {
        height: 50px;
        font-size: 13px;
        width: 300px;
    }

    .intro-button {
        width: 50px;
        height: 50px;
        min-width: 20px;
        min-height: 20px;
        padding: 0px;

        .intro-icon {
            color: rgb(146, 146, 146);
            padding-left: 0px;
            margin-left: 0px;

            span {
                width: 10px;
            }
        }
    }
}